# Среднеквадратичное отклонение в качестве погрешность измерений

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
df_raw_1 = pd.read_csv('/Users/evgenii/Documents/GitHub/perfconf/perfcong-jmeter-examples/data/baseline/raw_data.csv', low_memory=False)
df_raw_2 = pd.read_csv('/Users/evgenii/Documents/GitHub/perfconf/perfcong-jmeter-examples/data/baseline/2nd/raw_data.csv', low_memory=False)

df_raw_1 = df_raw_1[df_raw_1['sampleLabel'] == 'POST_confirm']
df_raw_2 = df_raw_2[df_raw_2['sampleLabel'] == 'POST_confirm']

df_raw_1 = df_raw_1[['startTime','responseTime']]
df_raw_2 = df_raw_2[['startTime','responseTime']]

In [12]:
df_raw_1

           startTime  responseTime
67     1716030271091            56
86     1716030271127            63
90     1716030271140            65
93     1716030271113            94
100    1716030271149            64
...              ...           ...
49988  1716030316490           133
49992  1716030316508           180
49996  1716030316715            78
49998  1716030316784            97
49999  1716030316872           108

[10000 rows x 2 columns]

# Выравниваем массивы точек

In [13]:
if len(df_raw_1) >= len(df_raw_2):
    df_raw_1 = df_raw_1.iloc[:len(df_raw_2)]
    #df_raw_2['startTime'] = df_raw_1['startTime']
else:
    df_raw_2 = df_raw_2.iloc[:len(df_raw_1)]
    #df_raw_2['startTime'] = df_raw_1['startTime']

In [14]:
df_raw_1["startTime"] = pd.to_datetime(df_raw_1["startTime"], unit='ms')
df_raw_2["startTime"] = pd.to_datetime(df_raw_2["startTime"], unit='ms')

# Делаем offset

In [15]:
min_timestamp_baseline = df_raw_1['startTime'].min()
min_timestamp = df_raw_2['startTime'].min()
offset = min_timestamp - min_timestamp_baseline
#filtered_df_raw['endTime'] -= offset
df_raw_2.loc[:,'startTime'] -= offset

In [16]:
df_raw_1.set_index('startTime', inplace=True)
df_raw_2.set_index('startTime', inplace=True)

In [17]:
new_df_raw_1 = df_raw_1.copy()
new_df_raw_2 = df_raw_2.copy()
new_df_raw_1.index = range(len(new_df_raw_1))
new_df_raw_2.index = range(len(new_df_raw_2))

In [18]:
aligned_df = new_df_raw_1.merge(new_df_raw_2, how='inner', left_index=True, right_index=True)

In [19]:
aligned_df

      responseTime_x  responseTime_y
0                 56              56
1                 63              63
2                 65              65
3                 94              94
4                 64              64
...              ...             ...
9995             133             133
9996             180             180
9997              78              78
9998              97              97
9999             108             108

[10000 rows x 2 columns]

In [20]:
rmse = np.sqrt(((aligned_df['responseTime_x'] - aligned_df['responseTime_y']) ** 2).mean())

In [21]:
aligned_df['responseTime_x'] - aligned_df['responseTime_y']

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int64

# RMSE

In [22]:
rmse

0.0